---
layout: default
---

<main role="main">
  <section class="text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Benvinguts</h1>
        <p class="lead text-muted">Aquesta pàgina és un recull de recursos i experiències.</p>
      </div>
  </section>

  <div class="album py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="/blog">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"  preserveAspectRatio="xMidYMid slice" focusable="false" src="/assets/img/home/checklist.svg"></img>
                <div class="card-body">
                  <p class="card-text">Blog</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="/about">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"  preserveAspectRatio="xMidYMid slice" focusable="false" src="/assets/img/home/ninja.svg"></img>
                <div class="card-body">
                  <p class="card-text">About</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="/projectes">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"  preserveAspectRatio="xMidYMid slice" focusable="false" src="/assets/img/home/video.svg"></img>
                <div class="card-body">
                  <p class="card-text">Projectes</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="/recursos">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"  preserveAspectRatio="xMidYMid slice" focusable="false" src="/assets/img/home/recursos.svg"></img>
                <div class="card-body">
                  <p class="card-text">Recursos</p>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="/progr">
              <div class="card mb-4 shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="225"  preserveAspectRatio="xMidYMid slice" focusable="false" src="/assets/img/home/hacker.svg"></img>
                <div class="card-body">
                  <p class="card-text">Programació</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
